* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nexa', sans-serif;
}

body {
    background-color: #0A1128;
}

.nav-bar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlu {
    color: #A8E0FF;
    font-size: 20px;
    margin-left: 410px;
}

.titlu a {
    text-decoration: none;
}

.titlu a:visited {
    color: inherit;
}

.titlu span {
    color: #F8F4F9;
}

.nav-links {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.link {
    margin-left: 6px;
}

.link a{
    color: #F8F4F9;
    font-size: 20px;
    font-weight: 600; 
    text-decoration: none;
    padding: 11px 14px 8px 14px;
    border-radius: 25px;
}

.link a:hover {
    background-color: #A8E0FF;
    color: #0A1128;
}

.nav-img {
    height: 100px;
    margin-left: 110px; 
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.start {
    flex: 1;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start button {
    border: none;
    cursor: pointer;
    background-color: #A8E0FF;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    padding-top: 4px;
    color: #0A1128;
    font-weight: bold;
    font-size: 16px;
}

.start button:hover{
    background-color: #F8F4F9;

}

.start p {
    color: #A8E0FF;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.home-image {
    margin-right: 190px;
    width: 475px;
    box-shadow: 30px -30px 1px #0e094a59;
}

.footer p {
    color: #A8E0FF;
    margin-top: 100px;
    margin-left: 10px;
    font-size: 8px;
}