<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Builder</title>
    <link rel="icon" href="../static/assets/favicon.png" type="image/png">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/list.css">
    <link href="https://fonts.cdnfonts.com/css/nexa-bold" rel="stylesheet">
</head>
<body>
    <div class="nav-bar">
        <div class="titlu">
            <a href="/home"><h1><span>CV</span> Builder</h1></a>
        </div>
        <div class="nav-links">
            <div class="link">
                <a href="/create">Create</a>
            </div>
            <div class="link">
                <a href="/list">List</a>
            </div>
            <div class="link">
                <a href="/about">About</a>
            </div>
            {% if session.username%}
                <div class="link">
                    <a href="/logout">Log Out</a>
                </div>
                <div class="link">
                    <a href="">{{session.username}}</a>
                </div>
            {% else %}
                <div class="link">
                    <a href="/login">Sign In</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="content">
        <h2>{{session.username}}'s CV List</h2>
        <div class="cv-list">
            {% for cv in cvs %}
                <div class="cv-item">
                    <iframe src="data:application/pdf;base64,{{ cv.pdf_data }}" width="600px" height="600px" frameborder="0"></iframe>
                    <a href="/download-zip/{{cv.id}}"><button>Download .zip</button></a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
