.signin h1{
    color: #F8F4F9;
    margin-right: 35px;
}

.input-boxes label{
    flex: 1;
    display: block;
    margin: 15px 0px;
    color:#F8F4F9;
}

.bottom p{
    color:#F8F4F9;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.content .input-boxes {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 200px;
}

.content input {
    width: 200%;
    padding: 8px 0px;
    background-color: #0A1128;
    border: none;
    border-bottom: 1px solid #5d6a78;
    color: #A8E0FF;
    margin-bottom: 15px;
}

.content button {
    border: none;
    cursor: pointer;
    background-color: #A8E0FF;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    padding-top: 4px;
    color: #0A1128;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
    
}

.content button:hover{
    background-color: #F8F4F9;

}

.content p{
    margin-top: 60px;
    margin-right: 35px;
}


